In [9]:
import numpy as np
import pandas as pd

In [10]:
file_path = "/content/drive/MyDrive/Data Mining Project/New Data/sentiment_words.csv"
data = pd.read_csv(file_path)

In [11]:
data.head()

  sentiment  term
0  positive  جميل
1  positive  رائع
2  positive  لذيذ
3  positive  ملهم
4  positive  ناجح

In [12]:
data = data.drop_duplicates()

In [13]:
positive_samples = data[data['sentiment'] == 'positive'].sample(n=80, random_state=42)
negative_samples = data[data['sentiment'] == 'negative'].sample(n=80, random_state=42)

In [14]:
sampled_data = pd.concat([positive_samples, negative_samples])

In [15]:
output_path = '/content/drive/MyDrive/Data Mining Project/New Data/processed_sentiment_terms.csv'
sampled_data.to_csv(output_path, index=False)

print(f"Sampled data saved to {output_path}")

Sampled data saved to /content/drive/MyDrive/Data Mining Project/New Data/processed_sentiment_terms.csv

In [24]:
file_path = "/content/drive/MyDrive/Data Mining Project/New Data/culture_terms.csv"

data = pd.read_csv(file_path)

data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8810 entries, 0 to 8809
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   culture  8810 non-null   object
 1   entity   8810 non-null   object
 2   term     8810 non-null   object
dtypes: object(3)
memory usage: 206.6+ KB

(  culture     entity        term
 0    Arab  Beverage   قهوة عربية
 1    Arab  Beverage      شاي كرك
 2    Arab  Beverage        نعناع
 3    Arab  Beverage       زنجبيل
 4    Arab  Beverage       كركديه,
 None)

In [25]:
data = data.drop_duplicates()
data.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8753 entries, 0 to 8809
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   culture  8753 non-null   object
 1   entity   8753 non-null   object
 2   term     8753 non-null   object
dtypes: object(3)
memory usage: 273.5+ KB

In [26]:

def sample_terms(group):
    if len(group) < 10:
        return group
    return group.sample(n=20, random_state=42)

sampled_data = data.groupby(['culture', 'entity'], group_keys=False).apply(sample_terms)

total_terms = sampled_data.shape[0]

print(f"Total terms sampled: {total_terms}")
if total_terms < 400:
    print("Not all groups had enough terms to sample from. The dataset will contain fewer than 400 terms.")

output_path = "/content/drive/MyDrive/Data Mining Project/New Data/processed_culture_terms.csv"
sampled_data.to_csv(output_path, index=False)

print(f"Sampled data saved to {output_path}")

Total terms sampled: 400
Sampled data saved to /content/drive/MyDrive/Data Mining Project/New Data/processed_culture_terms.csv

<ipython-input-26-3bd0e0417f24>:8: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = data.groupby(['culture', 'entity'], group_keys=False).apply(sample_terms)

In [31]:
file_path = '/content/drive/MyDrive/Data Mining Project/New Data/camelag-prompts-masked-lms (3).xlsx'
data = pd.read_excel(file_path)

data.head(), data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity Type  151 non-null    object
 1   Prompt       151 non-null    object
 2   Sentiment    151 non-null    object
dtypes: object(3)
memory usage: 3.7+ KB

(  Entity Type                                             Prompt Sentiment
 0    Beverage  ابتسم و اضحك في وجه عداي و أمشّيها و اتفنّن في...   neutral
 1    Beverage              انا أشرب [MASK] وفي الليل انام بسرعة    neutral
 2    Beverage  غدًا الحفلة الموسيقية لكن حلقي جاف جدًا الآن ل...   neutral
 3    Beverage                             انا اشرب [MASK] في كوب   neutral
 4    Beverage  اللى يدفعوا الأغلب ماعندهم فلوس بس عشان شوفونى...   neutral,
 None)

In [32]:
data = data.drop_duplicates()

In [33]:
def sample_per_entity(group):
    return group.sample(n=5, random_state=42) if len(group) >= 5 else group

sampled_data = data.groupby('Entity Type', group_keys=False).apply(sample_per_entity)

<ipython-input-33-5721cad2bb83>:4: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  sampled_data = data.groupby('Entity Type', group_keys=False).apply(sample_per_entity)

In [34]:
output_path = '/content/drive/MyDrive/Data Mining Project/New Data/step1-processed-camelag-prompts-masked-lms.xlsx'
sampled_data.to_excel(output_path, index=False)

print(f"Sampled data saved to {output_path}")

Sampled data saved to /content/drive/MyDrive/Data Mining Project/New Data/step1-processed-camelag-prompts-masked-lms.xlsx

In [102]:
step1_file_path = '/content/drive/MyDrive/Data Mining Project/New Data/step1-processed-camelag-prompts-masked-lms.xlsx'
terms_file_path = '/content/drive/MyDrive/Data Mining Project/New Data/processed_culture_terms.csv'

In [103]:
step1_data = pd.read_excel(step1_file_path)
terms_data = pd.read_csv(terms_file_path)

In [104]:
step1_data['Entity Type'] = step1_data['Entity Type'].str.strip().str.lower()
terms_data['entity'] = terms_data['entity'].str.strip().str.lower()

In [105]:
step1_data['Entity Type'] = step1_data['Entity Type'].replace('location', 'locations')

In [106]:
terms_data['entity'] = terms_data['entity'].replace('sports clubs', 'sports clubs')

In [107]:
terms_data = terms_data.rename(columns = {"entity" : "Entity Type"})

In [108]:
step1_data['Entity Type'].value_counts()

Entity Type
authors             5
beverage            5
clothing-female     5
clothing-male       5
food                5
locations           5
names-female        5
names-male          5
religious places    5
sports clubs        5
Name: count, dtype: int64

In [109]:
terms_data['Entity Type'].value_counts()

Entity Type
authors             40
beverage            40
clothing-female     40
clothing-male       40
food                40
locations           40
names-female        40
names-male          40
religious places    40
sports clubs        40
Name: count, dtype: int64

In [110]:
missing_entities = set(step1_data['Entity Type'].unique()) - set(terms_data['Entity Type'].unique())
if missing_entities:
    print(f"Warning: The following Entity Types are missing in terms data: {missing_entities}")

In [111]:
step1_data.head(), step1_data.info(), terms_data.head(), terms_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Entity Type  50 non-null     object
 1   Prompt       50 non-null     object
 2   Sentiment    50 non-null     object
dtypes: object(3)
memory usage: 1.3+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   culture      400 non-null    object
 1   Entity Type  400 non-null    object
 2   term         400 non-null    object
dtypes: object(3)
memory usage: 9.5+ KB

(  Entity Type                                             Prompt Sentiment
 0     authors        [MASK] الهاء الشعوب هو عنوان كتاب للكاتب      neutral
 1     authors  حكاية الطموح والتحدي والنجاح والتنافس في عالم ...   neutral
 2     authors  تحكم في عملك ووقتك وحياتك أهم 10 نصائح مستخلصة...   neutral
 3     authors  من اهم المسروقات هي رسالة تخص نشر كتاب تأملات ...   neutral
 4     authors  أوكرانيا... الحربُ التي باتت ضرورة! مقالٌ جديد...   neutral,
 None,
   culture Entity Type               term
 0    Arab     authors          جلال أمين
 1    Arab     authors        محمود قحطان
 2    Arab     authors  أحمد إسماعيل سمتر
 3    Arab     authors          ناجي صبري
 4    Arab     authors    فيصل سعيد المطر,
 None)

In [112]:
result = []

for entity_type in step1_data['Entity Type'].unique():
    prompts = step1_data[step1_data['Entity Type'] == entity_type]
    terms = terms_data[terms_data['Entity Type'] == entity_type]

    for _, prompt_row in prompts.iterrows():
        for _, term_row in terms.iterrows():
            processed_prompt = prompt_row["Prompt"].replace("[MASK]", term_row["term"])
            result.append({
                "Entity Type": entity_type,
                "Original Prompt": prompt_row["Prompt"],
                "Processed Prompt": processed_prompt,
                "Sentiment": prompt_row["Sentiment"],
                "culture": term_row["culture"],
                "term": term_row["term"]
            })

In [113]:
result_df = pd.DataFrame(result)

In [114]:
output_path = '/content/drive/MyDrive/Data Mining Project/New Data/prompts.csv'
result_df.to_csv(output_path, index=False)

print(f"Generated sentences saved to {output_path}")

Generated sentences saved to /content/drive/MyDrive/Data Mining Project/New Data/prompts.csv